Repository LetsEatCo/API, pull requests merged in 2018-10, with the labels that each got.

#20 feat: ✨ Store Login — Add POST /stores/register endpoint
  apiary.apib
  dredd.yml
  ormconfig.js
  src/app/auth/auth.module.ts
  src/app/auth/interfaces/jwt-payload.interface.ts
  src/app/auth/services/auth.service.ts
  src/app/auth/services/cryptographer.service.ts
  src/app/store/__tests__/mocks/index.ts
  src/app/store/__tests__/store.controller.spec.ts
  src/app/store/__tests__/store.e2e.spec.ts
  src/app/store/__tests__/store.service.spec.ts
  src/app/store/commands/handlers/create-store.handler.ts
  src/app/store/dtos/index.ts
  src/app/store/dtos/login-store.dto.ts
  src/app/store/pipes/store.validation.pipe.ts
  src/app/store/queries/get-store-by-email.query.ts
  src/app/store/queries/get-store-password.query.ts
  src/app/store/queries/handlers/get-store-by-email.handler.ts
  src/app/store/queries/handlers/get-store-password.handler.ts
  src/app/store/queries/handlers/index.ts
  src/app/store/repository/store.repository.ts
  src/app/store/store.controller.ts
  src/app/store/store.entity.ts
  src/app/store/store.module.ts
  src/app/store/store.service.ts
  src/shared/hooks/index.js
Labels: priority: high 🔥, scope: authentication, scope: routing, status: done 🙌, type: docs 📄, type: feature ✨

#23 feat: ✨ Customer Login & Registration — Add POST /customers/register + POST /customers/login endpoint
  apiary.apib
  package.json
  src/app/auth/services/auth.service.ts
  src/app/core.module.ts
  src/app/customer/__tests__/customer.controller.spec.ts
  src/app/customer/__tests__/customer.e2e.spec.ts
  src/app/customer/__tests__/customer.service.spec.ts
  src/app/customer/__tests__/mocks/index.ts
  src/app/customer/commands/create-customer.command.ts
  src/app/customer/commands/handlers/create-customer.handler.ts
  src/app/customer/commands/handlers/index.ts
  src/app/customer/customer.controller.ts
  src/app/customer/customer.entity.ts
  src/app/customer/customer.module.ts
  src/app/customer/customer.service.ts
  src/app/customer/dtos/create-customer.dto.ts
  src/app/customer/dtos/index.ts
  src/app/customer/dtos/login-customer.dto.ts
  src/app/customer/index.ts
  src/app/customer/pipes/customer.validation.pipe.ts
  src/app/customer/pipes/index.ts
  src/app/customer/queries/get-customer-by-email.query.ts
  src/app/customer/queries/get-customer-password.query.ts
  src/app/customer/queries/handlers/get-customer-by-email.handler.ts
  src/app/customer/queries/handlers/get-customer-password.handler.ts
  src/app/customer/queries/handlers/index.ts
  src/app/customer/repository/customer.repository.ts
  src/app/store/store.controller.ts
  src/app/store/store.module.ts
  src/shared/hooks/index.js
  tsconfig.json
Labels: priority: high 🔥, scope: api, scope: authentication, scope: routing, status: done 🙌, type: docs 📄, type: feature ✨

#24 feat: ✨ Add GET /stores with query parameters + GET / stores/:uuid
  apiary.apib
  src/app/common/decorators/search.decorator.ts
  src/app/common/interceptors/timeout.interceptor.ts
  src/app/common/interceptors/transform.interceptor.ts
  src/app/core.module.ts
  src/app/store/__tests__/mocks/index.ts
  src/app/store/__tests__/store.controller.spec.ts
  src/app/store/__tests__/store.e2e.spec.ts
  src/app/store/__tests__/store.service.spec.ts
  src/app/store/enums/stores-search-params.enum.ts
  src/app/store/queries/get-store-by-uuid.query.ts
  src/app/store/queries/get-stores-by-query-params.query.ts
  src/app/store/queries/get-stores.query.ts
  src/app/store/queries/handlers/get-store-by-query-params.handler.ts
  src/app/store/queries/handlers/get-store-by-uuid.handler.ts
  src/app/store/queries/handlers/get-stores.handler.ts
  src/app/store/queries/handlers/index.ts
  src/app/store/repository/store.repository.ts
  src/app/store/store.controller.ts
  src/app/store/store.entity.ts
  src/app/store/store.service.ts
  src/shared/hooks/index.js
  src/shared/utils/index.ts
  src/shared/utils/isObjectEmpty.util.ts
  src/shared/utils/isUuid.utils.ts
  tslint.json
Labels: priority: high 🔥, scope: api, scope: routing, status: done 🙌, type: docs 📄, type: feature ✨

#26 refactor: Remove Photo stuff.......
  apiary.apib
  package.json
  src/app/__tests__/app.e2e.spec.ts
  src/app/__tests__/sum.spec.ts
  src/app/__tests__/sum.ts
  src/app/core.module.ts
  src/app/photo/__tests__/mocks/index.ts
  src/app/photo/__tests__/photo.controller.spec.ts
  src/app/photo/__tests__/photo.e2e.spec.ts
  src/app/photo/__tests__/photo.service.spec.ts
  src/app/photo/index.ts
  src/app/photo/photo.controller.ts
  src/app/photo/photo.entity.ts
  src/app/photo/photo.module.ts
  src/app/photo/photo.service.ts
  tsconfig.json
Labels: priority: low 🌱, scope: api, status: done 🙌, type: docs 📄, type: enhancement 🐺

#29 feat: ✨ Add GET /stores/me endpoint
  .codeclimate.yml
  apiary.apib
  src/application/commands/store/handlers/create-store.handler.ts
  src/application/queries/resource/get-resource-by-uuid.query.ts
  src/application/queries/resource/handlers/get-resource-by-uuid.handler.ts
  src/application/queries/resource/handlers/index.ts
  src/application/queries/resource/index.ts
  src/domains/customer/customer.entity.ts
  src/domains/resource/resource.ts
  src/domains/store/store.entity.ts
  src/infrastructure/authorization/guards/auth.guard.ts
  src/infrastructure/authorization/guards/index.ts
  src/infrastructure/authorization/interfaces/auth-guard-options.interface.ts
  src/infrastructure/authorization/interfaces/index.ts
  src/infrastructure/authorization/strategies/jwt.strategy.ts
  src/infrastructure/repository/resource.repository.ts
  src/infrastructure/repository/store.repository.ts
  src/interfaces/http/modules/customer/customer.module.ts
  src/interfaces/http/modules/store/__tests__/mocks/index.ts
  src/interfaces/http/modules/store/__tests__/store.controller.spec.ts
  src/interfaces/http/modules/store/__tests__/store.http.spec.ts
  src/interfaces/http/modules/store/store.controller.ts
  src/interfaces/http/modules/store/store.module.ts
  src/shared/hooks/index.js
  src/shared/utils/index.ts
  src/shared/utils/is-uuid.utils.ts
Labels: priority: high 🔥, scope: api, scope: authentication, scope: routing, status: done 🙌, type: docs 📄, type: feature ✨

#33 chore: 🗃 Configure Redis + API Key authentication
  .circleci/config.yml
  .env.sample
  config/default.ts
  docker-compose.yml
  dredd.yml
  package.json
  src/infrastructure/authorization/services/auth.service.ts
  src/infrastructure/authorization/strategies/api-key.strategy.ts
  src/infrastructure/authorization/strategies/jwt.strategy.ts
  src/infrastructure/authorization/strategies/passport.strategy.ts
  src/interfaces/http/modules/customer/__tests__/mocks/index.ts
  src/interfaces/http/modules/http.core.module.ts
  src/interfaces/http/modules/store/__tests__/mocks/index.ts
  src/interfaces/tcp/modules/redis/redis.controller.ts
  src/interfaces/tcp/modules/redis/redis.module.ts
  src/interfaces/tcp/modules/tcp.core.module.ts
  src/server.ts
  yarn.lock
Labels: priority: medium 🚧, scope: api, scope: authentication, scope: database, status: needs review 🔍, type: docs 📄, type: feature ✨

#39 feat: ✨ Add PATCH /customers/me endpoint
  apiary.apib
  src/application/commands/customer/handlers/index.ts
  src/application/commands/customer/handlers/update-customer.handler.ts
  src/application/commands/customer/index.ts
  src/application/commands/customer/update-customer.command.ts
  src/domains/customer/dtos/update-customer.dto.ts
  src/domains/customer/pipes/customer.validation.pipe.ts
  src/infrastructure/repository/customer.repository.ts
  src/interfaces/http/modules/customer/__tests__/customer.controller.spec.ts
  src/interfaces/http/modules/customer/__tests__/customer.http.spec.ts
  src/interfaces/http/modules/customer/__tests__/mocks/index.ts
  src/interfaces/http/modules/customer/customer.controller.ts
  src/shared/hooks/index.js
Labels: priority: medium 🚧, scope: api, scope: routing, status: done 🙌, type: docs 📄, type: feature ✨

#44 feat: ✨ Add DELETE /customers/me/ endpoint
  apiary.apib
  src/application/commands/customer/delete-customer-by-uuid.command.ts
  src/application/commands/customer/handlers/delete-customer-by-uuid.handler.ts
  src/application/commands/customer/handlers/index.ts
  src/application/commands/customer/index.ts
  src/infrastructure/repository/customer.repository.ts
  src/interfaces/http/modules/customer/__tests__/customer.http.spec.ts
  src/interfaces/http/modules/customer/customer.controller.ts
  src/shared/hooks/index.js
Labels: priority: medium 🚧, scope: api, scope: routing, status: done 🙌, type: docs 📄, type: feature ✨

#54 feat: ✨ Add DELETE /stores/me endpoint
  apiary.apib
  src/application/commands/store/delete-store-by-uuid.command.ts
  src/application/commands/store/handlers/delete-store-by-uuid.handler.ts
  src/application/commands/store/handlers/index.ts
  src/domains/kiosk/kiosk.entity.ts
  src/infrastructure/repository/store.repository.ts
  src/interfaces/http/modules/store/__tests__/store.http.spec.ts
  src/interfaces/http/modules/store/store.controller.ts
  src/shared/hooks/index.js
Labels: priority: low 🌱, scope: api, scope: routing, status: done 🙌, type: docs 📄, type: feature ✨

#63 chore(security):🛡 Enable CORS and protect app with Helmet
  package.json
  src/server.ts
  yarn.lock
Labels: priority: medium 🚧, scope: security, status: done 🙌, type: potential issue 💔

#67 🐺feat + enhancement : Store can add address at registration
  apiary.apib
  src/domains/address/address.entity.ts
  src/domains/address/dtos/create-address.dto.ts
  src/domains/address/pipes/address-validator-pipe-options.ts
  src/domains/address/pipes/index.ts
  src/domains/common/exceptions/custom.exception.filter.ts
  src/domains/store/dtos/create-store.dto.ts
  src/domains/store/store.entity.ts
  src/interfaces/http/modules/store/__tests__/mocks/index.ts
  src/interfaces/http/modules/store/__tests__/store.controller.spec.ts
Labels: priority: medium 🚧, scope: api, scope: database, scope: routing, status: done 🙌, type: enhancement 🐺

#68 enhance: Store can update their address
  apiary.apib
  src/application/commands/customer/handlers/update-customer.handler.ts
  src/application/commands/store/handlers/update-store-by-uuid.handler.ts
  src/application/queries/store/handlers/get-stores.handler.ts
  src/domains/address/dtos/index.ts
  src/domains/address/dtos/update-address.dto.ts
  src/domains/common/exceptions/custom.exception.filter.ts
  src/domains/store/dtos/create-store.dto.ts
  src/domains/store/dtos/update-store.dto.ts
  src/domains/store/store.entity.ts
  src/infrastructure/repository/address.repository.ts
  src/infrastructure/repository/store.repository.ts
  src/shared/utils/index.ts
  src/shared/utils/omit-deep.util.ts
Labels: priority: medium 🚧, scope: api, status: done 🙌, type: enhancement 🐺

#80 feat: Add POST stores/me/ingredients endpoint
  apiary.apib
  src/application/commands/customer/handlers/index.ts
  src/application/commands/ingredient/create-ingredient.command.ts
  src/application/commands/ingredient/handlers/create-ingredient.handler.ts
  src/application/commands/ingredient/handlers/index.ts
  src/application/commands/ingredient/index.ts
  src/domains/ingredient/dtos/create-ingredient.dto.ts
  src/domains/ingredient/dtos/index.ts
  src/domains/ingredient/ingredient.entity.ts
  src/domains/ingredient/pipes/index.ts
  src/domains/ingredient/pipes/ingredient-validator-pipe-options.ts
  src/domains/store/store.entity.ts
  src/infrastructure/repository/ingredient.repository.ts
  src/infrastructure/repository/store.repository.ts
  src/interfaces/http/modules/store/__tests__/store-ingredients.http.spec.ts
  src/interfaces/http/modules/store/__tests__/store-kioks.http.spec.ts
  src/interfaces/http/modules/store/__tests__/store.controller.spec.ts
  src/interfaces/http/modules/store/__tests__/store.http.spec.ts
  src/interfaces/http/modules/store/controllers/index.ts
  src/interfaces/http/modules/store/controllers/store-ingredients.controller.ts
  src/interfaces/http/modules/store/controllers/store-kiosks.controller.ts
  src/interfaces/http/modules/store/controllers/store.controller.ts
  src/interfaces/http/modules/store/store.module.ts
  src/shared/hooks/index.js
Labels: priority: high 🔥, scope: api, scope: database, scope: routing, status: done 🙌, type: feature ✨

#81 feat: ✨ Add GET stores/me/ingredients + GET stores/me/ingredients/:uuid endpoints
  apiary.apib
  src/application/queries/store/get-store-ingredient-by-uuid.query.ts
  src/application/queries/store/get-store-ingredients.query.ts
  src/application/queries/store/handlers/get-store-ingredient-by-uuid.handler.ts
  src/application/queries/store/handlers/get-store-ingredients.handler.ts
  src/application/queries/store/handlers/index.ts
  src/application/queries/store/index.ts
  src/domains/ingredient/ingredient.entity.ts
  src/infrastructure/repository/ingredient.repository.ts
  src/infrastructure/repository/store.repository.ts
  src/interfaces/http/modules/store/__tests__/mocks/index.ts
  src/interfaces/http/modules/store/__tests__/store-ingredients.http.spec.ts
  src/interfaces/http/modules/store/controllers/store-ingredients.controller.ts
  src/shared/hooks/index.js
  yarn.lock
Labels: priority: high 🔥, scope: api, scope: routing, status: done 🙌, type: feature ✨

#83 feat: Add PATCH /stores/me/ingredients/:uuid endpoint
  apiary.apib
  src/application/commands/ingredient/handlers/index.ts
  src/application/commands/ingredient/handlers/update-ingredient.handler.ts
  src/application/commands/ingredient/index.ts
  src/application/commands/ingredient/update-ingredient.command.ts
  src/domains/ingredient/dtos/index.ts
  src/domains/ingredient/dtos/update-ingredient.dto.ts
  src/domains/ingredient/ingredient.entity.ts
  src/infrastructure/repository/ingredient.repository.ts
  src/infrastructure/repository/store.repository.ts
  src/interfaces/http/modules/store/__tests__/mocks/index.ts
  src/interfaces/http/modules/store/__tests__/store-ingredients.http.spec.ts
  src/interfaces/http/modules/store/controllers/store-ingredients.controller.ts
  src/shared/hooks/index.js
Labels: priority: high 🔥, scope: api, scope: routing, status: done 🙌, type: feature ✨

#84 feat: Add DELETE /stores/me/ingredients
  apiary.apib
  src/application/commands/ingredient/delete-ingredient.command.ts
  src/application/commands/ingredient/handlers/delete-ingredient.handler.ts
  src/application/commands/ingredient/handlers/index.ts
  src/application/commands/ingredient/index.ts
  src/infrastructure/repository/ingredient.repository.ts
  src/interfaces/http/modules/store/__tests__/store-ingredients.http.spec.ts
  src/interfaces/http/modules/store/controllers/store-ingredients.controller.ts
  src/shared/hooks/index.js
Labels: priority: high 🔥, scope: api, scope: routing, status: done 🙌, type: feature ✨

#85 feat: Add GET /stores/:storeUuid/ingredients endpoint + GET /stores/:storeUuid/ingredients/:uuid endpoints
  apiary.apib
  src/application/commands/ingredient/delete-ingredient-by-uuid.command.ts
  src/application/commands/ingredient/handlers/delete-ingredient-by-uuid.handler.ts
  src/application/commands/ingredient/handlers/index.ts
  src/application/commands/ingredient/index.ts
  src/application/queries/store/get-store-ingredient-by-uuid.query.ts
  src/application/queries/store/get-store-ingredients.query.ts
  src/application/queries/store/handlers/get-store-ingredient-by-uuid.handler.ts
  src/application/queries/store/handlers/get-store-ingredients.handler.ts
  src/application/queries/store/handlers/index.ts
  src/application/queries/store/index.ts
  src/domains/ingredient/dtos/update-ingredient.dto.ts
  src/domains/ingredient/pipes/ingredient-validator-pipe-options.ts
  src/infrastructure/repository/ingredient.repository.ts
  src/infrastructure/repository/store.repository.ts
  src/interfaces/http/modules/http.core.module.ts
  src/interfaces/http/modules/ingredient/controllers/ingredient.controller.ts
  src/interfaces/http/modules/ingredient/ingredient.module.ts
  src/interfaces/http/modules/store/__tests__/mocks/index.ts
  src/interfaces/http/modules/store/__tests__/store-ingredients.http.spec.ts
  src/interfaces/http/modules/store/controllers/index.ts
  src/interfaces/http/modules/store/controllers/store-ingredients.controller.ts
  src/shared/hooks/index.js
  yarn.lock
Labels: priority: high 🔥, scope: api, scope: routing, status: done 🙌, type: enhancement 🐺, type: feature ✨

#91 feat: Add GET stores/me/products, GET stores/me/products/:uuid, GET stores/:uuid/products/ & GET stores/:uuid/products/:uuid endpoints
  apiary.apib
  src/application/queries/store/get-store-product-by-uuid.query.ts
  src/application/queries/store/get-store-products.query.ts
  src/application/queries/store/handlers/get-store-ingredient-by-uuid.handler.ts
  src/application/queries/store/handlers/get-store-product-by-uuid.handler.ts
  src/application/queries/store/handlers/get-store-products.handler.ts
  src/application/queries/store/handlers/index.ts
  src/application/queries/store/index.ts
  src/domains/product/dtos/create-product.dto.ts
  src/infrastructure/repository/product.repository.ts
  src/interfaces/http/modules/store/__tests__/mocks/index.ts
  src/interfaces/http/modules/store/__tests__/store-products.http.spec.ts
  src/interfaces/http/modules/store/controllers/index.ts
  src/interfaces/http/modules/store/controllers/store.products.controller.ts
  src/shared/hooks/index.js
Labels: priority: high 🔥, priority: medium 🚧, scope: api, scope: routing, status: done 🙌, type: feature ✨

#105 feat: ✨ Add POST stores/me/meals endpoint
  apiary.apib
  src/application/commands/meal/create-meal.command.ts
  src/application/commands/meal/handlers/create-meal.handler.ts
  src/application/commands/meal/handlers/index.ts
  src/application/commands/meal/index.ts
  src/domains/meal/dtos/create-meal-subsection-option-ingredient.dto.ts
  src/domains/meal/dtos/create-meal-subsection-option-product.dto.ts
  src/domains/meal/dtos/create-meal-subsection.dto.ts
  src/domains/meal/dtos/create-meal.dto.ts
  src/domains/meal/dtos/index.ts
  src/domains/meal/meal-subsection-option-ingredient.entity.ts
  src/domains/meal/meal-subsection-option-product.entity.ts
  src/domains/meal/meal-subsection-option.entity.ts
  src/domains/meal/meal-subsection.entity.ts
  src/domains/meal/meal.entity.ts
  src/domains/meal/pipes/index.ts
  src/domains/meal/pipes/meal-validator-pipe-options.ts
  src/domains/product/product.entity.ts
  src/domains/store/store.entity.ts
  src/infrastructure/repository/meal.repository.ts
  src/infrastructure/repository/meal.subsection.repository.ts
  src/infrastructure/repository/store.repository.ts
  src/infrastructure/services/index.ts
  src/infrastructure/services/logger.service.ts
  src/interfaces/http/modules/store/__tests__/mocks/index.ts
  src/interfaces/http/modules/store/__tests__/store.meals.http.spec.ts
  src/interfaces/http/modules/store/controllers/index.ts
  src/interfaces/http/modules/store/controllers/store.meals.controller.ts
  src/interfaces/http/modules/store/store.module.ts
  src/server.ts
  src/shared/hooks/index.js
Labels: priority: high 🔥, scope: api, scope: routing, status: done 🙌, type: feature ✨

#106 feat + refactor: Include Meals in GET /stores/:uuid and GET /stores/me endpoints & add GET /stores/me/meals endpoint
  apiary.apib
  src/application/commands/customer/handlers/create-customer.handler.ts
  src/application/commands/store/handlers/create-kiosk.handler.ts
  src/application/commands/store/handlers/create-store.handler.ts
  src/application/queries/customer/handlers/get-customer-by-email.handler.ts
  src/application/queries/customer/handlers/get-customer-by-uuid.handler.ts
  src/application/queries/meal/handlers/index.ts
  src/application/queries/resource/handlers/get-resource-by-uuid.handler.ts
  src/application/queries/store/get-store-meals.query.ts
  src/application/queries/store/handlers/get-store-by-email.handler.ts
  src/application/queries/store/handlers/get-store-by-uuid.handler.ts
  src/application/queries/store/handlers/get-store-meals.handler.ts
  src/application/queries/store/handlers/index.ts
  src/application/queries/store/index.ts
  src/domains/customer/dtos/create-customer.dto.ts
  src/domains/customer/dtos/update-customer.dto.ts
  src/domains/meal/dtos/create-meal-subsection-option-ingredient.dto.ts
  src/domains/meal/dtos/create-meal-subsection-option-product.dto.ts
  src/domains/meal/dtos/create-meal-subsection-option.dto.ts
  src/domains/meal/dtos/create-meal-subsection.dto.ts
  src/domains/meal/meal-subsection-option-ingredient.entity.ts
  src/domains/meal/meal-subsection-option-product.entity.ts
  src/domains/meal/meal-subsection-option.entity.ts
  src/domains/meal/meal-subsection.entity.ts
  src/domains/resource/resource.ts
  src/infrastructure/repository/meal.repository.ts
  src/infrastructure/repository/meal.subsection.repository.ts
  src/infrastructure/repository/store.repository.ts
  src/interfaces/http/modules/customer/__tests__/mocks/index.ts
  src/interfaces/http/modules/store/__tests__/mocks/index.ts
  src/interfaces/http/modules/store/__tests__/store.meals.http.spec.ts
  src/interfaces/http/modules/store/controllers/store.meals.controller.ts
  src/interfaces/http/modules/store/store.module.ts
Labels: priority: high 🔥, scope: api, scope: routing, status: done 🙌, type: feature ✨

#107 feat: Add DELETE /stores/me/meals/:uuid endpoint
  src/application/commands/meal/delete-meal.command.ts
  src/application/commands/meal/handlers/delete-meal.handler.ts
  src/application/commands/meal/handlers/index.ts
  src/application/commands/meal/index.ts
  src/infrastructure/repository/meal.repository.ts
  src/interfaces/http/modules/store/__tests__/store.meals.http.spec.ts
  src/interfaces/http/modules/store/controllers/store.meals.controller.ts
  src/shared/hooks/index.js
Labels: priority: medium 🚧, scope: api, scope: routing, status: done 🙌, type: feature ✨

#110 feat: Add UPDATE /stores/me/meals/:uuid endpoint
  apiary.apib
  package.json
  src/application/commands/meal/handlers/index.ts
  src/application/commands/meal/handlers/update-meal.handler.ts
  src/application/commands/meal/index.ts
  src/application/commands/meal/update-meal.command.ts
  src/domains/meal/dtos/index.ts
  src/domains/meal/dtos/update-meal-subsection-option-ingredient.dto.ts
  src/domains/meal/dtos/update-meal-subsection-option-product.dto.ts
  src/domains/meal/dtos/update-meal-subsection-option.dto.ts
  src/domains/meal/dtos/update-meal-subsection.dto.ts
  src/domains/meal/dtos/update-meal.dto.ts
  src/domains/meal/meal-subsection-option-ingredient.entity.ts
  src/domains/meal/pipes/meal-validator-pipe-options.ts
  src/infrastructure/repository/meal.subsection.ingredient.repository.ts
  src/infrastructure/repository/meal.subsection.product.repository.ts
  src/infrastructure/repository/meal.subsection.repository.ts
  src/infrastructure/repository/store.repository.ts
  src/interfaces/http/modules/store/__tests__/store.meals.http.spec.ts
  src/interfaces/http/modules/store/controllers/store.meals.controller.ts
  src/shared/hooks/index.js
Labels: priority: high 🔥, scope: api, scope: routing, status: done 🙌, type: docs 📄, type: feature ✨

#115 fix(database): Fix Ingredient Products relations
  apiary.apib
  src/application/commands/product/handlers/create-product.handler.ts
  src/domains/product-ingredient/dtos/create-product-ingredient.dto.ts
  src/domains/product-ingredient/dtos/update-product-ingredient.dto.ts
  src/domains/product/product.entity.ts
  src/infrastructure/repository/product-ingredient.repository.ts
  src/infrastructure/repository/store.repository.ts
  src/interfaces/http/modules/store/__tests__/store-products.http.spec.ts
Labels: priority: critical 🚨, scope: database, status: done 🙌, type: bug 🐛, type: docs 📄, type: potential issue 💔

#116 enhance: Include ingredients in GET stores/me/products endpoint
  src/infrastructure/repository/product.repository.ts
Labels: priority: high 🔥, scope: api, status: done 🙌, type: enhancement 🐺

#132 feat: Add POST /stores/me/sections
  apiary.apib
  src/application/commands/section/create-section.command.ts
  src/application/commands/section/handlers/create-section.handler.ts
  src/application/commands/section/handlers/index.ts
  src/application/commands/section/index.ts
  src/domains/meal/meal.entity.ts
  src/domains/product/product.entity.ts
  src/domains/section/dtos/create-section.dto.ts
  src/domains/section/pipes/section-validator-pipe-options.ts
  src/domains/section/section.entity.ts
  src/domains/store/store.entity.ts
  src/infrastructure/repository/store.repository.ts
  src/interfaces/http/modules/store/__tests__/store-kiosks.http.spec.ts
  src/interfaces/http/modules/store/__tests__/store-sections.http.spec.ts
  src/interfaces/http/modules/store/controllers/index.ts
  src/interfaces/http/modules/store/controllers/store.sections.controller.ts
  src/interfaces/http/modules/store/store.module.ts
  src/shared/hooks/index.js
Labels: priority: high 🔥, scope: api, scope: routing, status: done 🙌, type: feature ✨

#133 feat: Add GET stores/me/sections and GET stores/me/sections/:uuid endpoints
  apiary.apib
  src/application/queries/store/get-store-section-by-uuid.query.ts
  src/application/queries/store/get-store-sections.query.ts
  src/application/queries/store/handlers/get-store-section-by-uuid.handler.ts
  src/application/queries/store/handlers/get-store-sections.handler.ts
  src/application/queries/store/handlers/index.ts
  src/application/queries/store/index.ts
  src/infrastructure/repository/product-ingredient.repository.ts
  src/infrastructure/repository/section.repository.ts
  src/infrastructure/repository/store.repository.ts
  src/interfaces/http/modules/store/__tests__/mocks/index.ts
  src/interfaces/http/modules/store/__tests__/store-products.http.spec.ts
  src/interfaces/http/modules/store/__tests__/store-sections.http.spec.ts
  src/interfaces/http/modules/store/controllers/store.sections.controller.ts
  src/shared/hooks/index.js
Labels: priority: high 🔥, scope: api, scope: routing, status: done 🙌, type: feature ✨
